In [71]:
import pandas as pd
import numpy as np
#Método de clasificación KNN (vecino más cercano)
from sklearn.neighbors import KNeighborsClassifier
#Método de clasifiación DecisionTree (árbol de decision)
from sklearn.tree import DecisionTreeClassifier
#Uso de gráficas y representación de datos
import matplotlib.pyplot as plt

In [72]:
#Lectura de Dataset haciendo uso de URL de github y el nombre de las columnas
def readDataset(file,columns):
  dataset=pd.read_csv(file, header=None, names=columns)
  return dataset

In [73]:
from sklearn.model_selection import train_test_split
#Metrics like accuracy_score or confusion matrix
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [74]:
#Compute accuracy of model
def accuracyDataset(dataset, features, label, model): 
  accuracy=0
  #Split into random train and test subsets
  X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.3, random_state=1)
  #Entrenamiento de datos de entrenamiento
  model.fit(X_train,y_train)
  #Predice salidas de los datos test
  y_pred = model.predict(X_test)
  #Calcula precisión del modelo
  accuracy = metrics.accuracy_score(y_test, y_pred)
  return accuracy

In [75]:
def accuracyStandarizeDataset(dataset,features,label,model,n):
     precision =0
     #Split into random train and test subsets
     X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.3, random_state=1)
     # Standardize the data
     scaler = StandardScaler()
     scaler.fit(X_train)
     X_train = scaler.transform(X_train)
     X_test = scaler.transform(X_test)
     # Aplicamos PCA de n dimensiones
     pca=PCA(n_components=n)
     pca.fit(X_train)
     # Fit and transform data 2D
     X_train = pca.fit_transform(X_train)
     X_test = pca.transform(X_test)
     #Volvemos a realizar la función de accuracyDataset
     # Entrenamos el modelo
     model.fit(X_train,y_train)
     # Predicciones del modelo
     y_pred = model.predict(X_test)
     # Calculamos la precision del modelo
     precision = metrics.accuracy_score(y_test,y_pred)
     return precision

In [76]:
def muestreoAleatorio(dataset, features, label, model):
  accuracy=0
  X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.1, random_state=1)
  model.fit(X_train,y_train)
  y_pred = model.predict(X_test)
  accuracy=metrics.accuracy_score(y_test,y_pred)
  return accuracy

In [77]:
def muestreoEstratificado(dataset, features, label, model):
  accuracy=0
  X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.1, random_state=1, stratify=label)
  model.fit(X_train,y_train)
  y_pred = model.predict(X_test)
  accuracy=metrics.accuracy_score(y_test,y_pred)
  return accuracy

In [78]:
def accuracyGraphic(datasets, first_accuracy, second_accuracy, first_model, second_model):
  plt.plot(datasets, first_accuracy, label=first_model+'_accuracy')
  plt.plot(datasets, second_accuracy, label=second_model+'_accuracy')
  plt.xlabel('Datasets')
  plt.ylabel('Accuracy')
  plt.title(first_model+'vs'+second_model)
  plt.legend()
  plt.show()

In [79]:
def errorGraphic(datasets, first_error, second_error, first_model, second_model):
  plt.plot(datasets, first_error, label=first_model+'_error')
  plt.plot(datasets, second_error, label=second_model+'_error')
  plt.xlabel('Datasets')
  plt.ylabel('Error')
  plt.title(first_model+'vs'+second_model)
  plt.legend()
  plt.show()

In [80]:
from sklearn.metrics import confusion_matrix
def confusionMatrix(dataset, model, features, label):
  X_train, X_test, y_train, y_test = train_test_split(features, label, test_size=0.2, random_state=1)
  model.fit(X_train,y_train)
  y_pred = model.predict(X_test)
  print(confusion_matrix(y_test,y_pred))

### **1. Obtenga 5 ejemplos de ficheros de datos en formato CSV, ARFF u otro cualquiera de Weka datasets, UCI MLR**

**Dataset Iris:** conjunto de datos que contiene tres clases de 50 instancias cada una, donde cada clase se refiere a un tipo de planta de iris. Una clase es linealmente separable de las otras 2, pero las dos últimas no son linealmente separables entre sí

In [81]:
#Iris Data set
columnas=['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)', 'class']
iris_features=['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
iris= readDataset('https://raw.githubusercontent.com/victoriapl01/Mineria_De_Datos/main/Datasets/iris.data', columnas)
iris_X= iris[iris_features]
iris_y= iris['class']
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

**Dataset Car**

In [82]:
#Car Evaluation Data set
columnas=['buying','maint','doors', 'persons', 'lug_boot','safety','class']
car_features=['buying','maint','doors', 'persons', 'lug_boot','safety']
car= readDataset('https://raw.githubusercontent.com/victoriapl01/Mineria_De_Datos/main/Datasets/car.data',columnas)
car_X=car[car_features]
car_y=car['class']
car.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

**Dataset Wine:** using chemical analysis determine the origin of wines

In [83]:
#Wine Data Set
columnas= ['class','alcohol', 'malic acid', 'ash', 'alcalinityOfAsh', 'Magnesium',' Total Phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 'Color Intensity', 'Hue', 'OD280',' Proline'] 
wine_features=['alcohol', 'malic acid', 'ash', 'alcalinityOfAsh', 'Magnesium',' Total Phenols', 'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins', 'Color Intensity', 'Hue', 'OD280',' Proline'] 
wine=readDataset('https://raw.githubusercontent.com/victoriapl01/Mineria_De_Datos/main/Datasets/wine.data',columnas)
wine_X=wine[wine_features]
wine_y=wine['class']
wine.head()

,class,alcohol,malic acid,ash,alcalinityOfAsh,Magnesium,Total Phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color Intensity,Hue,OD280,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

**Dataset diabetes:**

In [84]:
#Diabetes Data Set
columnas=['Times Pregnant','Glucose tolerance','Blood pressure','Triceps skin fold','Insulin','Body mass','Diabetes pedigree', 'Age','Class']
diabetes_features=['Times Pregnant','Glucose tolerance','Blood pressure','Triceps skin fold','Insulin','Body mass','Diabetes pedigree', 'Age']
diabetes=readDataset('https://raw.githubusercontent.com/victoriapl01/Mineria_De_Datos/main/Datasets/diabetes.data',columnas)
diabetes_X=diabetes[diabetes_features]
diabetes_y=diabetes['Class']
diabetes.head()

,Times Pregnant,Glucose tolerance,Blood pressure,Triceps skin fold,Insulin,Body mass,Diabetes pedigree,Age,Class
0,6,148,72,35,0,33.6,0.627,50,tested_positive
1,1,85,66,29,0,26.6,0.351,31,tested_negative
2,8,183,64,0,0,23.3,0.672,32,tested_positive
3,1,89,66,23,94,28.1,0.167,21,tested_negative
4,0,137,40,35,168,43.1,2.288,33,tested_positive

**Dataset glass:**

In [85]:
#Glass Data set
columnas=['RI','Na', 'Mg', 'Al', 'Si','K', 'Ca', 'Ba', 'Fe', 'Type']
glass_features=['RI','Na', 'Mg', 'Al', 'Si','K', 'Ca', 'Ba', 'Fe']
glass=readDataset('https://raw.githubusercontent.com/victoriapl01/Mineria_De_Datos/main/Datasets/glass.data',columnas)
glass_X=glass[glass_features]
glass_y=glass['Type']
glass.head()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.0,0.00,'build wind float'
1,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.0,0.00,'vehic wind float'
2,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.0,0.00,'build wind float'
3,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.0,0.00,tableware
4,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.0,0.24,'build wind non-float'

###**2. Evalúe el árbol de decisión y el vecino más cercano sobre los datos originales**###

Para evaluar los distintos modelos, vamos a hacer uso de la métrica de precisión (accuracy), para ello entrenaremos los modelos con los diferentes datasets para posteriormente calcular la precisión de cada modelo en cada uno de los datasets.

In [86]:
accuracy=[]
accuracy_tree=[]
accuracy_knn=[]